@import url(module/header.css);
@import url(module/footer.css);
@import url(module/common.css);

/*********************************************

about_us.css

 *********************************************/

.contents_box {
    display: flex;
    padding: 120px 0 0;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.contents_des_box {
    max-width: 520px;
}

.contents_title {
    padding: 0 0 40px 0;
}

.contents_text {
    font-size: 1.125rem;
    letter-spacing: 0.02rem;
    line-height: 1.7rem;
    padding: 0 0 24px 0;
}

.contents_img_box img {
    display: block;
    width: 687px;
}

/*
 * media query
 */

/* max-width 1280px */
@media screen and (max-width: 1280px) {
    .contents_box {
        padding: 120px 40px 0;
    }

    .contents_img_box img {
        width: 587px;
    }

    .about_us_des_box {
        padding: 0 40px 0 0;
    }

    .our_history_des_box {
        padding: 0 0 0 40px;
    }
}

/* max-width 1080px */
@media screen and (max-width: 1080px) {
    .contents_img_box img {
        width: 487px;
    }
}

/* max-width 980px */
@media screen and (max-width: 980px) {
    .contents_box {
        flex-flow: column;
    }

    .about_us_des_box {
        order: 1;
    }

    .about_us_img_box {
        order: 0;
    }
}

/* max-width 540px */
@media screen and (max-width: 540px) {
    .contents_box {
        padding: 100px 32px 0;
    }

    .contents_box:last-child {
        padding: 60px 32px 0;
    }

    .contents_des_box {
        padding: 0;
    }

    .contents_img_box img {
        width: 100%;
    }

    .contents_title {
        text-align: center;
        padding: 32px 0 20px;
    }
}

