@import url(module/header.css);
@import url(module/footer.css);
@import url(module/common.css);

.contents_box{
    padding: 120px 0 0;
    text-align: center;
}

.contents_text{
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}

#form{
    padding: 32px 0 0;
    width: 332px;
    margin: 0 auto;
}

#form button {
    font-family: var(--josefin);
    color: #fff;
    font-size: 1.25rem;
    background: var(--red);
    padding: 10px 40px;
    margin: 12px 0 0;
    width: 160px;
    border-radius: 25px;
}

.input-control label{
    display: block;
    text-align: left;
    font-family: var(--josefin);
    color: #868686;
    font-size: 1.25rem;
    padding: 12px 0 8px 0;
}

.input-control input,.input-control textarea {
    text-align: left;
    width: 100%;
    border: 1px solid #868686;
    padding: 8px;
}

.input-control.success input, .input-control.success textarea{
    border-color: #09c372;
}

.input-control.error input, .input-control.error textarea {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    text-align: left;
    padding: 4px 0 0;
}






@media screen and (max-width: 560px){
    .contents_box{
        padding: 100px 0 0;
    }

    .contents_text{
        padding: 0 20px 0;
    }

    #form{
        width: 300px;
    }
}

