@import url(module/header.css);
@import url(module/footer.css);
@import url(module/common.css);

/*********************************************

contact.css

 *********************************************/

.contents_box{
    padding: 120px 0 0;
    text-align: center;
}

.contents_text{
    line-height: 1.5rem;
    letter-spacing: 0.01rem;
}

#form{
    padding: 32px 0 0;
    width: 332px;
    margin: 0 auto;
}

#form button {
    font-family: var(--josefin);
    color: #fff;
    font-size: 1.25rem;
    background: var(--red);
    padding: 10px 40px;
    margin: 12px 0 0;
    width: 160px;
    border-radius: 25px;
}

.input-control label{
    display: block;
    text-align: left;
    font-family: var(--josefin);
    color: #868686;
    font-size: 1.25rem;
    padding: 12px 0 8px 0;
}

.input-control input,.input-control textarea {
    text-align: left;
    width: 100%;
    border: 1px solid #868686;
    padding: 8px;
}

/*If the form check succeeds*/
.input-control.success input, .input-control.success textarea{
    border-color: #09c372;
}

/*If the form check error*/
.input-control.error input, .input-control.error textarea {
    border-color: #ff3860;
}

/*Display the error amount if the form check is an error*/
.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    text-align: left;
    padding: 4px 0 0;
}

/*
 * Modal is displayed after submit button is pressed
 */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 400px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

/*modal animation*/
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.modal-header{
    font-family: var(--josefin);
    text-align: center;
    font-size: 2rem;
    color: var(--red);
    padding: 20px 0 0;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
}

.modalClose:hover {
    cursor: pointer;
}

.modal-body{
    padding: 0 0 20px 0;
}

.modal-body p{
    line-height: 1.7rem;
}

/*
 * media query
 */


/* max-width 560px */
@media screen and (max-width: 560px){
    .contents_box{
        padding: 100px 0 0;
    }

    .contents_text{
        padding: 0 20px 0;
    }

    #form{
        width: 300px;
    }
}

/* max-width 420px */
@media screen and (max-width: 420px){
    .modal-body p{
        padding:0 20px 0;
        line-height: 1.7rem;
    }

    .modal-content {
        margin: 60% auto;
        width: 300px;
    }
}

