@import url(module/header.css);
@import url(module/footer.css);

.contents__box{
    padding: 120px 0 0;
}

.contents__box_title{
    text-align: center;
    color: var(--red);
    font-family: var(--josefin);
    font-size: 2.5rem;
}

.contents__box_des{
    margin: 0 auto;
    text-align: center;
    width: 740px;
    font-size: 1.25rem;
    padding: 20px 0 0;
    letter-spacing: 0.04rem;
    line-height: 1.65rem;
}

.contents__box_link{
    text-align: center;
    padding: 36px 0 0;
    font-family: var(--josefin);
    color: var(--red);
    font-size: 1.5rem;
}

.contents__box_link:hover{
    text-decoration: underline;
}

.contents__box_list{
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 0 60px;
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
    justify-items: center;
}

.contents__box_list li{
    width: 275px;
    text-align: center;
}

.recipe__box_image img{
    width: 100%;
}

.recipe__box_category{
    color: #878787;
    padding: 16px 0 0 0;
    font-family: var(--josefin);
}

.recipe__box_title{
    font-size: 1.5rem;
    padding: 8px 0 0 0;
    font-family: var(--josefin);
}

.recipe__box_des{
    font-size: 1rem;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    padding:8px 0 0 0;
}

.recipe_button{
    text-align: center;
}

.recipe_button a{
    display: inline-block;
    background: var(--red);
    border-radius: 40px;
    color: #fff;
    font-family: var(--josefin);
    font-size: 1.6rem;
    padding: 20px 60px;
}

@media screen and (max-width: 1280px){
    .contents__box_list{
        width: 100%;
        justify-content: center;
        grid-column-gap: 52px;
        grid-template-columns: 275px 275px 275px;
    }
}

@media screen and (max-width: 980px){
    .contents__box_list{
        grid-template-columns: 275px 275px;
    }

    .contents__box_des{
        width: 100%;
        padding: 20px 40px 0;
    }
}

@media screen and (max-width: 560px){
    .contents__box_list{
        grid-column-gap: 0;
        grid-template-columns: 275px;
    }
}



