@import url(module/header.css);
@import url(module/footer.css);
@import url(module/common.css);
/*********************************************

index.css

 *********************************************/

.contents_box{
    padding: 120px 0 0;
}

.index_contents_title{
    text-align: center;
}

.contents_text{
    margin: 0 auto;
    text-align: center;
    width: 740px;
    font-size: 1.25rem;
    padding: 20px 0 0;
    letter-spacing: 0.04rem;
    line-height: 1.65rem;
}

.contents_text_link{
    text-align: center;
    padding: 36px 0 0;
    font-family: var(--josefin);
    color: var(--red);
    font-size: 1.5rem;
}

.contents_text_link a:hover{
    text-decoration: underline;
}

.recipe_button{
    text-align: center;
}

.recipe_button a{
    display: inline-block;
    background: var(--red);
    border-radius: 40px;
    color: #fff;
    font-family: var(--josefin);
    font-size: 1.6rem;
    padding: 20px 60px;
}

/*
 * media query
 */

/* max-width 980px */
@media screen and (max-width: 980px){
    .contents_text{
        width: 100%;
        padding: 20px 40px 0;
    }
}

/* max-width 540px */
@media screen and (max-width: 540px){
    .contents_box{
        padding: 100px 0 0;
    }

    .recipe_button a{
        font-size: 1.2rem;
        padding: 16px 40px;
    }
}



