/*********************************************

header.css

 *********************************************/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sp_header{
    display: none;
}

.pc_header{
    display: block;
}

/* main image index.html */
.header_index{
    justify-content: space-between;
    background: url(../../images/main_pc.png) center / cover;
    min-height: 700px;
}

/* main image about_us.html */
.header_about_us{
    justify-content: flex-start;
    background: url(../../images/about_us_pc.png) center / cover;
    min-height: 500px;
}

/* main image recipes.html */
.header_recipes{
    justify-content: flex-start;
    background: url(../../images/recipes_pc.png) center / cover;
    min-height: 500px;
}

/* main image recipes_detail.html */
.header_recipes_detail{
    justify-content: flex-start;
    background: url(../../images/recipes/thai_red_curry_pc.png) center / cover;
    min-height: 500px;
}

.header_contact{
    justify-content: flex-start;
    background: url(../../images/contact_pc.png) center / cover;
    min-height: 500px;
}

.sub_menu_title{
    padding: 150px 0 0 0;
}

.header_box{
    width: 1280px;
    margin: 0 auto;
    padding: 40px 0 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header_title{
    font-size: 2.5rem;
}

.header_menu{
    display: flex;
    font-size: 1.5rem;
}

.header_menu_list{
    margin-right: 24px;
}

.header_menu_list:last-child{
    margin-right: 0;
}

.header_main_title{
    padding: 280px 0 0;
    font-size: 3.75rem;
    color: var(--yellow);
    font-family: var(--josefin);
}

.header_main_button a{
    background: var(--red);
    border-radius: 60px;
    color: #fff;
    font-family: var(--josefin);
    font-size: 1.75rem;
    padding: 16px 40px;
}

/*
 * hamburger menu icon
 */
.hamburger {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 300;
    background: var(--red);
    border-radius: 32px;
}

.hamburger__menu{
    position: absolute;
    top: 40px;
    right: 13px;
    font-family: var(--josefin);
    color: #fff;
    font-size: 0.75rem;
}

.hamburger__line {
    position: absolute;
    width: 37px;
    height: 2px;
    border-radius: 4px;
    right: 14px;
    background-color: #fff;
    transition: all 0.5s;
}

.hamburger__line--1 {
top: 15px;
}

.hamburger__line--2 {
    top: 23px;
}

.hamburger__line--3 {
    top: 32px;
}

/* when a hamburger menu clicked */
.open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
}

.open .hamburger__line--2 {
    opacity: 0;
}

.open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
}

/*
 * navigation menu for smartphone
 */
.sp-nav {
    position: fixed;
    right: -100%;
    /*Hide the hamburger on the right side of the window before it is clicked*/
    top: 0;
    width: 80%;
    /*Width of the slide menu that appears.*/
    height: 100vh;
    background-color: var(--red);
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;
    /*If you have a lot of menus, you can scroll through them.*/
}

.sp_menu{
    padding: 120px 0 0 40px;
}

.sp_menu li{
    font-size: 1.65rem;
    letter-spacing: 0.01rem;
    padding: 0 0 32px 0;
}


/*Slide from the right when the hamburger is clicked.*/
.open .sp-nav {
    right: 0;
}


/*To release the hamburger menu*/
.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
}

/*Display the hamburger menu when it opens*/
.open .black-bg {
    opacity: 0.3;
    visibility: visible;
}

/*
 * media query
 */
/* min-width 1470px */
@media screen and (min-width: 1470px){
    .header_index{
        background: url(../../images/mask.png) center / cover;
    }
}

/* max-width 1280px */
@media screen and (max-width: 1280px){
    .header_box{
        width: 100%;
        padding: 40px 40px 0;
    }
}

/* max-width 980px */
@media screen and (max-width: 980px){
    .header_main_title{
        font-size: 2.75rem;
        text-align: center;
        padding: 280px 8px 0;
        box-sizing: border-box;
    }

    .sub_menu_title{
        padding: 220px 0 0;
    }
}

/* max-width 560px */
@media screen and (max-width: 560px){
    .pc_header{
        display: none;
    }

    .sp_header{
        display: block;
    }
}